@model IEnumerable<CouponDto>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Coupons List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-outline-primary" asp-action="CreateCoupon"><i class="bi bi-plus-square"></i> Create New Coupon</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Coupon Code
                    </th>
                    <th>
                        Discount Amount
                    </th>
                    <th>
                        Minimum Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="w-50">@item.CouponCode</td>
                        <td class ="w-25">@item.DiscountAmount.ToString("c")</td>
                        <td class="w-25">@item.MinAmount.ToString("c")</td>
                        <td>
                            <a class="btn btn-success" asp-action="UpdateCoupon" asp-controller="Coupon" asp-route-id="@item.CouponId">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" onclick="DeleteCoupon(@item.CouponId)">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<script>
    function DeleteCoupon(id)
    {
            Swal.fire({
              title: "Are you sure you want to delete this coupon?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, delete it!"
            }).then((result) => {
              if (result.isConfirmed) 
              {
                $.ajax({
                url: "/Coupon/DeleteCoupon/" + id,
                type: "DELETE",
                success: function (data) {
                    window.location.href = "/coupon/couponindex";
                }
            });
              }
            });
    }
</script>
